<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Acehub - Acestream Sports aggregator</title>
    <meta name="description" content="Acehub aggregates sport acestreams for all sports and events">
    <meta name="author" content="Acehub">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>


</head>

<body style="background: #263238; color: #EEEEEE">
<!-- .container is main centered wrapper -->
<div id="app" class="container">

    <div class="row" style="text-align: justify; text-justify: inter-word">
        <div class="two columns">
            <h4>ACEHUB</h4>
        </div>
        <div class="ten columns">
            <p>This is a Acestream aggregator form reddit sport forums, this will make your tablet phone / TV acestream experience
                much better without the need to copy long stream ids.</p>
            <small>Streams will appear a soon as matches are about to start. (this site auto-updates every 5 min)</small>
        </div>
    </div>
    <br>
    <!-- columns should be the immediate child of a .row -->
    <div v-if="ready" v-for="match in matches">
        <div class="row">
            <div class="two columns"><h5>{{ match.kickoff | displayTime }}</h5></div>
            <div class="six columns">
                <h5>{{ match.title }}</h5>
                <h6>{{ match.sport}} <span v-if="match.competition">/</span> {{ match.competition}}</h6>
            </div>
            <div class="four columns">
            <span v-for="(stream, index) in match.streams">
                <a :href="stream.url"> Stream #{{index + 1}}</a>
                <span v-if="stream.extra_info">({{ stream.extra_info}})</span>
                <br>
            </span>

            </div>
        </div>
        <hr>
    </div>

    <div v-if="ready && matches.length == 0" style="text-align: center">
        <h4>There are no matches being streamed right now :(</h4>
    </div>


</div>


</body>
</html>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            matches: [],
            last_update: null,
            ready: false
        },
        methods: {
            updateMatches: function() {
                axios.get('APIENDPOINT/matches')
                    .then(function (response) {
                        // handle success
                        console.log(response);
                        app.matches = response.data;
                        app.ready = true;
                        app.last_update = new Date();
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });
            }
        },
        filters: {
            displayTime: function(timestamp) {

                var date = new Date();
                var offset = date.getTimezoneOffset();

                date = new Date(timestamp*1000 - (offset * 60 * 1000));
                date = new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());

                var hours = "0" + date.getHours();
                var minutes = "0" + date.getMinutes();

                var formattedTime = hours.substr(-2) + ':' + minutes.substr(-2);

                return formattedTime;
            }
        },
        mounted: function () {
            this.updateMatches();

            setInterval(function() {
                app.updateMatches();
            }, 180*1000)
        }
    })
</script>